<!DOCTYPE html>
<html>
  <head>
    <title>App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_pack_tag 'application', media: "all" %>
  </head>

  <body>
    <div id="app"></div>
  </body>
</html>


