<h1>Stories</h1>

<h2>New Story</h2>

<form (ngSubmit)="this.storyForm.valid && createStory();" [formGroup]="this.storyForm">
  <p>
    <label for="story-title">Title</label> <br>
    <input type="text" formControlName="title" id="story-title">
  </p>

  <p>
    <label for="story-description">Description</label> <br>
    <textarea formControlName="description" id="story-description"></textarea>
  </p>

  <p>
    <button [disabled]="!this.storyForm.valid">Save</button>
  </p>
</form>

<table>
  <thead>
  <tr>
    <th>Title</th>
    <th>Description</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let story of storyService.stories">
    <td>{{ story.title }}</td>
    <td>{{ story.description}}</td>
  </tr>
  <tr *ngIf="!storyService.stories?.length">
    <td colspan="2">No stories yet!</td>
  </tr>
  </tbody>
</table>
